%h2= key

%ul#history
  - history.each do |key|
    %li
      %a{:href => "./#{key}"}= key


#values
  - if values.is_a?(String)
    = values
  - else
    %ul
      - values.each do |value| 
        %li.value= value
